
:root{
    background-color: rgba(0, 191, 255, 0.566);
}

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'nova square' ,cursive;
} 


h1{
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.mainbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0auto;
    padding: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btnn{
    font-size: 2.5rem;
    padding: 3rem 0;
    width: 25rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: rgb(28, 26,26);
    background: linear-gradient(90deg, rgb(18,90,255) 0%,rgb(255, 102, 107) 100%);
    border-radius: 4px;
}

.bttn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.bttn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscores-btnn {
    background: linear-gradient(90deg, rgb(18,90,255) 0%,rgb(0,102,255) 100%);;
}

#highscores-btnn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;

}